
Project2/.ipynb_checkpoints/nati-checkpoint.ipynb
Project2/.ipynb_checkpoints/louis-checkpoint.ipynb
Project2/.ipynb_checkpoints/eugène-checkpoint.ipynb
Project1_final/src/data/mnist/raw/t10k-images-idx3-ubyte
Project1_final/src/data/mnist/raw/t10k-labels-idx1-ubyte
Project1_final/src/data/mnist/raw/train-images-idx3-ubyte
Project1_final/src/data/mnist/raw/train-labels-idx1-ubyte
*.pyc
*.xml
P1/src/data/mnist/raw/t10k-images-idx3-ubyte
P1/src/data/mnist/raw/t10k-labels-idx1-ubyte
P1/src/data/mnist/raw/train-images-idx3-ubyte
P1/src/data/mnist/raw/train-labels-idx1-ubyte
*.pt
P1/src/.ipynb_checkpoints/mp1-Copy1-checkpoint.ipynb
P1/src/.ipynb_checkpoints/mp1-checkpoint.ipynb
*.png
*.pdf
*.pdf
*.xml
P1/.DS_Store
